@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    font-family: Helvetica, Arial, "メイリオ", "ヒラギノ角ゴ", sans-serif;
}
 
/* 共通設定 */
    /*背景*/
    html, body {
        text-align: left;
        margin: auto;
        min-width: 600px auto;
        max-width: 1000px auto;
        background: #daefed;
        font-family: Helvetica, Arial, "メイリオ", "ヒラギノ角ゴ", sans-serif;
    }
    /* リンク色 */
    a {
        color:#161616;
    }
    a:hover {
        color: #3257ff;
        text-decoration: none;
    }
    /* メニュー */
    .menu li {
        list-style-type: none;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
    }
    /* セクション間隔 */ 
    main > section + section {
        margin-top: 80px;
    }
    /* 大見出し */
    h2 {
        padding: 10px;
        margin-bottom: 30px;
        text-align: left;
        border-left: 20px solid #096d31;
        color: #626362;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);

        border-radius: 10px;
    }
    h2 span {
        font-weight: normal;
        font-size: 60%;
    }
    h3 {
        border-left: 10px solid #5d9d80;
        padding: 5px;
    }

/* ヘッダー */
    header {
        padding: 5px;
        border-bottom: 2px solid #007133;
        display: block;
        background-color: #9eccb1;
        color: #FFF ;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        
    }
    /* ページタイトル */
    header h1 {
        float: left;
        padding-left: 40px;
        color: #020202;
        text-shadow: 2px 2px 4px #adadad;
        font-family: 'Roboto', sans-serif;
        font-size: 200%;
    }
    /* ナビゲーション */
    nav {
        padding-right: 40px;
        text-align: right;
        text-decoration: none;
    }
    /* セクション間隔 */
    #whatido > section + section {
        margin-top: 60px;
    }


/* メインセクション */
main {
    color: #646464;
    min-width: 300px;
    max-width: 800px;
    border-radius: 1%;
    margin: 40px auto;
    padding: 40px 40px;
}
    /* 自己紹介枠 */
    h3 span {
        font-size: 70%;
        font-weight: normal;
    }
    #name b {
        font-size: 150%;
        margin-inline: 10px;
    }
    .aboutme li {
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        font-size: 100% auto;
    }
    .icon {
        float: right;
        margin-right: 20px;
        border-radius: 20%;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .name {
        font: bolder;
        font-size: 200%;
        float: left;
    }
    /* 中央にする */
    .center {
        text-align: center;
    }
    /* もっと見る */
    .more {
        text-align: right;
    }
    .more::after {
        content: text(→);
        margin-left: 3px;
        vertical-align: middle;
    }
    #whatido {
        list-style-type: none;
        text-align: left;
    }
    #menu {
        list-style-type: none;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
    }

/* What's New */
table {
    width: 100%;
    margin-bottom: 30px;

}
th {
    border-collapse: collaspe;
    background-color: #d2cfcf;
    text-align: center;
}
td {
    
    padding-left: 10px;
    background-color: #e5e2e2;
}

/* 大見出し */
/* 小見出し */
/* もっと見る リンク */
/* リンク種別アイコン */
/*フォントの設定*/
footer {
    font-size: 75%;
}
.copyright {
    font-size: 75%;
}
/* その他 */
.clear {
    clear: both;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 下部 */
#lower {
    text-align: left;
}

footer {
    padding: 5px;
    border-bottom: 2px solid #d0d0d0;
    display: block;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/* お問い合わせフォーム */
.button {
    text-align: center;
    width: 200px;
    margin: 0 10px;
    padding: 10px;
    font-size: 1em;
}